<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894604238429-r58vmgqpj6irrg187obqh072nbkocp1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894604238429-r58vmgqpj6irrg187obqh072nbkocp1q</string>
	<key>API_KEY</key>
	<string>AIzaSyBnL5x4iXdEvIvGAR5Ffm_mqEwvyWVwgYg</string>
	<key>GCM_SENDER_ID</key>
	<string>894604238429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theMonkslabWeb</string>
	<key>PROJECT_ID</key>
	<string>the-monkslab-web-tests</string>
	<key>STORAGE_BUCKET</key>
	<string>the-monkslab-web-tests.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894604238429:ios:6215eac62fec80bd72f7b4</string>
</dict>
</plist>